openapi: 3.1.0
info:
  title: bank0 API
  version: 0.1.0
  description: |
    Core-banking backend. Two surfaces, separated by domain:
      * **client** (api.bank0.hnimn.art) — customer-facing money operations
      * **admin**  (portal.bank0.hnimn.art) — operator/back-office operations

    This file is the source of truth. `oapi-codegen` generates the Go
    `ServerInterface` for each tag (client/admin); handler drift is a compile
    error. Edit here, regenerate, fix the compiler.
servers:
  - url: https://api.bank0.hnimn.art
    description: client
  - url: https://portal.bank0.hnimn.art
    description: admin
tags:
  - name: client
    description: Customer-facing operations (api.bank0.hnimn.art)
  - name: admin
    description: Operator / back-office operations (portal.bank0.hnimn.art)

paths:
  /health:
    get:
      operationId: health
      tags: [client, admin]
      summary: Liveness/version probe
      security: []
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Health" }

  /auth/login:
    post:
      operationId: login
      tags: [client]
      summary: Verify credentials (bcrypt). Establishes a session in the portal.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LoginRequest" }
      responses:
        "200":
          description: authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LoginResponse" }
        "401": { $ref: "#/components/responses/Error" }

  /auth/refresh:
    post:
      operationId: refresh
      tags: [client]
      summary: Rotate a refresh token for a new access + refresh token pair
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RefreshRequest" }
      responses:
        "200":
          description: rotated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LoginResponse" }
        "401": { $ref: "#/components/responses/Error" }

  /auth/logout:
    post:
      operationId: logout
      tags: [client]
      summary: Revoke the presented refresh token (single-session logout)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RefreshRequest" }
      responses:
        "204": { description: logged out }

  /auth/logout-all:
    post:
      operationId: logoutAll
      tags: [client]
      summary: Revoke all of the caller's refresh tokens (log out everywhere)
      responses:
        "204": { description: logged out everywhere }
        "401": { $ref: "#/components/responses/Error" }

  /auth/register:
    post:
      operationId: register
      tags: [client]
      summary: Public self-registration. Creates a locked, pending-verification customer. Idempotent.
      security: []
      parameters: [ { $ref: "#/components/parameters/IdempotencyKey" } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RegisterRequest" }
      responses:
        "201":
          description: registered; a verification code has been dispatched out-of-band
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RegisterResponse" }
        "409": { $ref: "#/components/responses/Error" }   # username/email/phone taken
        "422": { $ref: "#/components/responses/Error" }   # weak password / bad input
        "429": { $ref: "#/components/responses/Error" }   # rate-limited

  /auth/verify-contact:
    post:
      operationId: verifyContact
      tags: [client]
      summary: Consume a verification code for an email or phone channel
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VerifyContactRequest" }
      responses:
        "200":
          description: verified; the user may now log in
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VerifyContactResponse" }
        "401": { $ref: "#/components/responses/Error" }   # wrong/expired code
        "404": { $ref: "#/components/responses/Error" }   # no such challenge
        "422": { $ref: "#/components/responses/Error" }   # too many attempts
        "429": { $ref: "#/components/responses/Error" }

  /auth/resend-code:
    post:
      operationId: resendCode
      tags: [client]
      summary: Re-dispatch a verification code (cooldown-throttled)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ResendCodeRequest" }
      responses:
        "202": { description: dispatched (or silently a no-op if no pending challenge) }
        "429": { $ref: "#/components/responses/Error" }

  /me:
    get:
      operationId: getMe
      tags: [client]
      summary: The authenticated customer's own profile (resolved from the JWT subject)
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "401": { $ref: "#/components/responses/Error" }
    patch:
      operationId: updateMe
      tags: [client]
      summary: Update the caller's own profile (partial; name/email/phone only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateMeRequest" }
      responses:
        "200":
          description: updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "401": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /me/password:
    post:
      operationId: changePassword
      tags: [client]
      summary: Change the authenticated customer's password (revokes other sessions)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChangePasswordRequest" }
      responses:
        "204": { description: password changed; other sessions revoked }
        "401": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /me/sessions:
    get:
      operationId: listSessions
      tags: [client]
      summary: List the caller's active sessions (refresh-token families = devices)
      parameters: [ { $ref: "#/components/parameters/SessionToken" } ]
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Session" }
        "401": { $ref: "#/components/responses/Error" }

  /me/sessions/{family_id}:
    delete:
      operationId: revokeSession
      tags: [client]
      summary: Revoke one session/device (selective sign-out). Idempotent.
      parameters: [ { $ref: "#/components/parameters/FamilyId" } ]
      responses:
        "204": { description: revoked (idempotent — also 204 if already gone) }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }   # family not owned by caller

  /me/accounts:
    post:
      operationId: openMyAccount
      tags: [client]
      summary: Open a new account for the caller (server allocates the IBAN). Idempotent.
      parameters: [ { $ref: "#/components/parameters/IdempotencyKey" } ]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OpenAccountRequest" }
      responses:
        "201":
          description: opened
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }
        "401": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }   # per-user account cap reached
        "422": { $ref: "#/components/responses/Error" }

  /accounts/{id}/limit-requests:
    post:
      operationId: requestLimitChange
      tags: [client]
      summary: Request a transfer-limit change on an owned account (an operator approves)
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LimitRequest" }
      responses:
        "201":
          description: pending approval
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LimitRequestResponse" }
        "401": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }   # not the caller's account
        "404": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }   # negative / unchanged limit

  /beneficiaries:
    get:
      operationId: listBeneficiaries
      tags: [client]
      summary: List the caller's saved beneficiaries (fuzzy search is client-side)
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Beneficiary" }
    post:
      operationId: addBeneficiary
      tags: [client]
      summary: Save a beneficiary by IBAN (resolves it to a destination account)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AddBeneficiaryRequest" }
      responses:
        "201":
          description: created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Beneficiary" }
        "404": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /beneficiaries/resolve:
    get:
      operationId: resolveBeneficiary
      tags: [client]
      summary: Confirmation of payee — resolve an IBAN to a masked owner name
      parameters:
        - name: iban
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ResolvedAccount" }
        "404": { $ref: "#/components/responses/Error" }

  /beneficiaries/{id}:
    delete:
      operationId: deleteBeneficiary
      tags: [client]
      summary: Remove a saved beneficiary (scoped to the caller)
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "204": { description: deleted }
        "404": { $ref: "#/components/responses/Error" }

  /users:
    post:
      operationId: createUser
      tags: [admin]
      summary: Create a user (customer or staff)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateUserRequest" }
      responses:
        "201":
          description: created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IdResponse" }
        "409": { $ref: "#/components/responses/Error" }

  /users/{id}:
    get:
      operationId: getUser
      tags: [admin]
      summary: Get a user by id (no password hash)
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "404": { $ref: "#/components/responses/Error" }

  /users/{id}/accounts:
    get:
      operationId: listUserAccounts
      tags: [client, admin]
      summary: List a user's accounts
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Account" }

  /accounts:
    post:
      operationId: createAccount
      tags: [admin]
      summary: Open a customer account
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateAccountRequest" }
      responses:
        "201":
          description: created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IdResponse" }

  /accounts/{id}:
    get:
      operationId: getAccount
      tags: [client, admin]
      summary: Get an account with ledger + available balance
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }
        "404": { $ref: "#/components/responses/Error" }

  /accounts/{id}/ledger:
    get:
      operationId: getAccountLedger
      tags: [client]
      summary: Account statement (composite-keyset cursor, running balance, filterable)
      description: >-
        Newest-first, bare array (always [], never null; end of data = a short page).
        Paginate by passing the last row's posted_at as `cursor` AND its id as
        `cursor_id` — the composite (posted_at, id) keyset pages correctly even when
        rows share a timestamp (the posted_at-only cursor used to silently skip them).
      parameters:
        - { $ref: "#/components/parameters/Id" }
        - { $ref: "#/components/parameters/Cursor" }
        - name: cursor_id
          in: query
          required: false
          description: id of the last row seen; with `cursor` forms the composite keyset tie-break.
          schema: { type: string, format: uuid }
        - { $ref: "#/components/parameters/Limit" }
        - name: from
          in: query
          required: false
          description: only entries posted at or after this instant (inclusive).
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: false
          description: only entries posted strictly before this instant (exclusive).
          schema: { type: string, format: date-time }
        - name: direction
          in: query
          required: false
          schema: { type: string, enum: [debit, credit] }
        - name: q
          in: query
          required: false
          description: free-text match over description, counterparty IBAN, and counterparty owner.
          schema: { type: string }
        - name: min_minor
          in: query
          required: false
          description: minimum absolute amount in minor units (inclusive).
          schema: { type: integer, format: int64 }
        - name: max_minor
          in: query
          required: false
          description: maximum absolute amount in minor units (inclusive).
          schema: { type: integer, format: int64 }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/LedgerEntry" }

  /accounts/{id}/deposit:
    post:
      operationId: deposit
      tags: [admin]
      summary: Credit an account (posts from external_clearing). Idempotent.
      parameters:
        - { $ref: "#/components/parameters/Id" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AmountRequest" }
      responses:
        "200":
          description: posted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MoneyMoveResponse" }
        "422": { $ref: "#/components/responses/Error" }

  /accounts/{id}/withdraw:
    post:
      operationId: withdraw
      tags: [admin]
      summary: Debit an account (posts to external_clearing). Idempotent.
      parameters:
        - { $ref: "#/components/parameters/Id" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AmountRequest" }
      responses:
        "200":
          description: posted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MoneyMoveResponse" }
        "422": { $ref: "#/components/responses/Error" }

  /accounts/{id}/status:
    post:
      operationId: setAccountStatus
      tags: [admin]
      summary: Freeze / unfreeze / close an account
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/StatusRequest" }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StatusResponse" }

  /transfers:
    get:
      operationId: listMyTransfers
      tags: [client]
      summary: List the caller's transfers across all their accounts (keyset-paginated)
      description: >-
        Every transfer where the caller owns the debit OR credit account, newest
        first. Bare array (always [], never null; end of data = a short page).
        Paginate with `cursor` (last row's requested_at) + `cursor_id` (last row's
        id). `direction` is caller-relative: out = caller debits, in = caller credits.
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - name: cursor_id
          in: query
          required: false
          description: id of the last row seen; with `cursor` forms the composite keyset tie-break.
          schema: { type: string, format: uuid }
        - { $ref: "#/components/parameters/Limit" }
        - name: from
          in: query
          required: false
          description: only transfers requested at or after this instant (inclusive).
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: false
          description: only transfers requested strictly before this instant (exclusive).
          schema: { type: string, format: date-time }
        - name: status
          in: query
          required: false
          schema: { type: string, enum: [pending, posted, failed, canceled, reversed] }
        - name: kind
          in: query
          required: false
          schema: { type: string, enum: [transfer, deposit, withdrawal, reversal, fee, adjustment] }
        - name: direction
          in: query
          required: false
          description: "Relative to the caller: out = caller's account is the debit side; in = the credit side."
          schema: { type: string, enum: [out, in] }
        - name: q
          in: query
          required: false
          description: free-text match over description and either side's IBAN.
          schema: { type: string }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/TransferListItem" }
        "400": { $ref: "#/components/responses/Error" }
    post:
      operationId: createTransfer
      tags: [client]
      summary: Create a transfer (auto-posts by default). Idempotent.
      parameters: [ { $ref: "#/components/parameters/IdempotencyKey" } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateTransferRequest" }
      responses:
        "200":
          description: result (posted, or replayed)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TransferResult" }
        "422": { $ref: "#/components/responses/Error" }

  /transfers/pending:
    get:
      operationId: listPendingTransfers
      tags: [admin]
      summary: Operator pending-transfer queue (cursor-paginated)
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/PendingTransfer" }

  /transfers/suggestion:
    get:
      operationId: suggestTransferDestinations
      tags: [client]
      summary: >-
        Guided-transfer demo: up to 3 candidate destination accounts (other users',
        randomly sampled + shuffled, optionally including a short-listed mule). The
        client picks one at random; an empty array means "no candidate — fall back to
        the caller's own account". Read-only; never moves money.
      parameters:
        - name: from_account
          in: query
          required: false
          description: Intended debit account (must be owned by the caller). Excluded from the menu.
          schema: { type: string, format: uuid }
        - name: amount_minor
          in: query
          required: false
          description: Intended amount in minor units; lets a scenario gate its mule on a threshold.
          schema: { type: integer, format: int64 }
      responses:
        "200":
          description: up to 3 candidate destinations (options may be empty)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GuidedSuggestions" }
        "403": { $ref: "#/components/responses/Error" }

  /transfers/{id}:
    get:
      operationId: getTransfer
      tags: [client, admin]
      summary: Get a transfer
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Transfer" }
        "404": { $ref: "#/components/responses/Error" }

  /transfers/{id}/post:
    post:
      operationId: postTransfer
      tags: [client]
      summary: Post a pending transfer (deferred settlement). Idempotent.
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StatusResponse" }

  /transfers/{id}/cancel:
    post:
      operationId: cancelTransfer
      tags: [client]
      summary: Cancel a pending transfer (releases the hold). Idempotent.
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReasonRequest" }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StatusResponse" }

  /transfers/{id}/reverse:
    post:
      operationId: reverseTransfer
      tags: [admin]
      summary: Reverse a posted transfer (appends inverse entries). Idempotent.
      parameters:
        - { $ref: "#/components/parameters/Id" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReasonRequest" }
      responses:
        "200":
          description: reversed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReverseResponse" }

  /transfers/{id}/dispute:
    post:
      operationId: raiseDispute
      tags: [client]
      summary: >-
        Raise a dispute on a transfer the caller is a party to ("I don't
        recognise this"). One open dispute per (transfer, caller).
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RaiseDisputeRequest" }
      responses:
        "201":
          description: dispute opened
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Dispute" }
        "404": { $ref: "#/components/responses/Error" }   # not a party / unknown transfer
        "409": { $ref: "#/components/responses/Error" }   # an open dispute already exists
        "422": { $ref: "#/components/responses/Error" }   # invalid category / transfer not disputable

  /disputes:
    get:
      operationId: listMyDisputes
      tags: [client]
      summary: List the caller's disputes (newest first, cursor-paginated)
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Dispute" }

  /disputes/{id}:
    get:
      operationId: getDispute
      tags: [client]
      summary: Track one of the caller's disputes (scoped to raiser)
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Dispute" }
        "404": { $ref: "#/components/responses/Error" }

  /admin/disputes:
    get:
      operationId: listDisputes
      tags: [admin]
      summary: Operator dispute triage queue (filter by status, cursor-paginated)
      parameters:
        - name: status
          in: query
          required: false
          schema: { type: string, enum: [open, under_review, resolved, rejected] }
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DisputeQueueItem" }

  /admin/disputes/{id}/resolve:
    post:
      operationId: resolveDispute
      tags: [admin]
      summary: Move a dispute to resolved/rejected (or under_review) with a note
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ResolveDisputeRequest" }
      responses:
        "200":
          description: updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Dispute" }
        "404": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }   # illegal state transition

  /admin/reconcile:
    get:
      operationId: reconcile
      tags: [admin]
      summary: Run ledger invariant checks (empty issues = books balanced)
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReconcileResponse" }

  /admin/expire-holds:
    post:
      operationId: expireHolds
      tags: [admin]
      summary: Manually run the hold-expiry sweep
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpireHoldsResponse" }

  /admin/limit-requests:
    get:
      operationId: listLimitRequests
      tags: [admin]
      summary: Pending transfer-limit-change requests (cursor-paginated)
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/LimitRequestItem" }

  /admin/limit-requests/{id}/approve:
    post:
      operationId: approveLimitRequest
      tags: [admin]
      summary: Approve a limit request (applies the new limit; 4-eyes — not your own)
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "200":
          description: applied
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StatusResponse" }
        "403": { $ref: "#/components/responses/Error" }   # own request / not operator
        "404": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }   # already handled

  /admin/limit-requests/{id}/reject:
    post:
      operationId: rejectLimitRequest
      tags: [admin]
      summary: Reject a pending limit request
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReasonRequest" }
      responses:
        "200":
          description: rejected
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StatusResponse" }
        "404": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }

components:
  securitySchemes:
    # client surface (api.bank0.hnimn.art): JWT bearer from POST /auth/login
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    # admin surface (portal.bank0.hnimn.art): DB-backed cookie session from /login
    sessionCookie:
      type: apiKey
      in: cookie
      name: bank0_session

  parameters:
    Id:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string }
    Cursor:
      name: cursor
      in: query
      required: false
      schema: { type: string, format: date-time }
    Limit:
      name: limit
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 200 }
    FamilyId:
      name: family_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    SessionToken:
      name: X-Refresh-Token
      in: header
      required: false
      description: >-
        The caller's current refresh token. Optional; when present, the matching
        family is flagged current:true in GET /me/sessions. Never logged.
      schema: { type: string }

  responses:
    Error:
      description: error
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
        message: { type: string }
      required: [error]
    Health:
      type: object
      properties:
        status: { type: string }
        version: { type: string }
    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username: { type: string }
        password: { type: string }
    LoginResponse:
      type: object
      properties:
        user_id: { type: string, format: uuid }
        token: { type: string, description: "JWT access token (HS256). Send as 'Authorization: Bearer <token>'." }
        token_type: { type: string, example: Bearer }
        expires_at: { type: string, format: date-time }
        refresh_token: { type: string, description: "Opaque refresh token. POST to /auth/refresh to rotate it for a new pair." }
    RefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token: { type: string }
    IdResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
    CreateUserRequest:
      type: object
      required: [username, password, full_name]
      properties:
        username: { type: string }
        password: { type: string }
        full_name: { type: string }
        email: { type: string }
        phone_number: { type: string }
        role: { type: string, enum: [customer, operator, admin, auditor] }
    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        username: { type: string }
        full_name: { type: string }
        email: { type: string }
        phone_number: { type: string }
        role: { type: string }
        status: { type: string }
        onboarding_status: { type: string, description: "Onboarding lifecycle (pending_verification/verified/active/rejected); admin-created users are 'active'." }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    RegisterRequest:
      type: object
      required: [username, password, full_name]
      properties:
        username:     { type: string }
        password:     { type: string, minLength: 12, maxLength: 256 }
        full_name:    { type: string }
        email:        { type: string }
        phone_number: { type: string }
      description: At least one of email/phone_number is required (enforced server-side).
    RegisterResponse:
      type: object
      properties:
        user_id:           { type: string, format: uuid }
        onboarding_status: { type: string, example: pending_verification }
        verify_channel:    { type: string, enum: [email, phone], description: "channel a code was sent to" }
        verify_token:      { type: string, description: "Opaque handle for /auth/verify-contact and /auth/resend-code. The code itself is delivered out-of-band, never in a response." }
    VerifyContactRequest:
      type: object
      required: [verify_token, code]
      properties:
        verify_token: { type: string }
        code:         { type: string, description: "6-digit numeric code" }
    VerifyContactResponse:
      type: object
      properties:
        user_id:           { type: string, format: uuid }
        onboarding_status: { type: string }
        channel:           { type: string, enum: [email, phone] }
        login_ready:       { type: boolean, description: "true once the user may POST /auth/login" }
    ResendCodeRequest:
      type: object
      required: [verify_token]
      properties:
        verify_token: { type: string }
    OpenAccountRequest:
      type: object
      properties:
        kind: { type: string, enum: [customer], default: customer, description: "reserved for future kinds (savings); only 'customer' is accepted today" }
    LimitRequest:
      type: object
      required: [transfer_limit_minor]
      properties:
        transfer_limit_minor: { type: integer, format: int64, minimum: 0 }
        reason:               { type: string }
    LimitRequestResponse:
      type: object
      properties:
        request_id:            { type: string, format: uuid }
        account_id:            { type: string, format: uuid }
        requested_limit_minor: { type: integer, format: int64 }
        status:                { type: string, example: pending }
    LimitRequestItem:
      type: object
      properties:
        request_id:            { type: string, format: uuid }
        account_id:            { type: string, format: uuid }
        account_iban:          { type: string }
        user_id:               { type: string, format: uuid }
        username:              { type: string }
        current_limit_minor:   { type: integer, format: int64 }
        requested_limit_minor: { type: integer, format: int64 }
        reason:                { type: string }
        requested_at:          { type: string, format: date-time }
    UpdateMeRequest:
      type: object
      # All optional; absent field => unchanged (COALESCE in update_user_info).
      # role / status / password are deliberately NOT accepted here.
      properties:
        full_name:    { type: string }
        email:        { type: string }
        phone_number: { type: string }
    ChangePasswordRequest:
      type: object
      required: [current_password, new_password]
      properties:
        current_password: { type: string }
        new_password:     { type: string, minLength: 12, maxLength: 256 }
        refresh_token:
          type: string
          description: >-
            Opaque refresh token of the session performing the change; its family
            is spared from revocation. Optional: if omitted, ALL families are
            revoked and the caller must re-login elsewhere.
    TransferSuggestion:
      type: object
      properties:
        account_id:        { type: string, format: uuid }
        iban:              { type: string }
        owner_name_masked: { type: string, description: "Masked, exactly as /beneficiaries/resolve. Never the full name." }
        reason:            { type: string, description: "Human-facing label shown in the guided banner." }
        scenario:          { type: string, description: "Active scenario name for the short-listed mule." }
        source:            { type: string, enum: [scenario], description: "Always 'scenario' from the backend; the client synthesises 'own_account' for its empty-menu fallback." }
    GuidedSuggestions:
      type: object
      description: "Guided-transfer mule menu — up to 3 third-party candidates; the client picks one at random, or falls back to the caller's own account when options is empty."
      required: [options]
      properties:
        options:
          type: array
          items: { $ref: "#/components/schemas/TransferSuggestion" }
    RaiseDisputeRequest:
      type: object
      properties:
        category: { type: string, enum: [unrecognised, fraud, wrong_amount, duplicate, other] }
        reason:   { type: string, description: "Free-text customer explanation (optional)." }
    Dispute:
      type: object
      properties:
        id:              { type: string, format: uuid }
        transfer_id:     { type: string, format: uuid }
        status:          { type: string, enum: [open, under_review, resolved, rejected] }
        category:        { type: string, enum: [unrecognised, fraud, wrong_amount, duplicate, other] }
        reason:          { type: string }
        resolution_note: { type: string }
        created_at:      { type: string, format: date-time }
        updated_at:      { type: string, format: date-time }
    DisputeQueueItem:
      type: object
      description: Admin queue row — joins transfer + raiser context for triage.
      properties:
        id:             { type: string, format: uuid }
        transfer_id:    { type: string, format: uuid }
        status:         { type: string }
        category:       { type: string }
        reason:         { type: string }
        amount_minor:   { type: integer, format: int64 }
        currency:       { type: string }
        raised_by:      { type: string, description: "Raiser username." }
        debit_iban:     { type: string }
        credit_iban:    { type: string }
        created_at:     { type: string, format: date-time }
    ResolveDisputeRequest:
      type: object
      required: [status]
      properties:
        status:          { type: string, enum: [under_review, resolved, rejected] }
        resolution_note: { type: string }
    TransferListItem:
      type: object
      description: A transfer in the caller's cross-account history (direction is caller-relative).
      properties:
        id: { type: string, format: uuid }
        debit_account_id: { type: string, format: uuid }
        credit_account_id: { type: string, format: uuid }
        amount_minor: { type: integer, format: int64 }
        currency: { type: string }
        status: { type: string }
        kind: { type: string }
        description: { type: string }
        direction: { type: string, enum: [out, in], description: "Relative to the caller." }
        counterparty_iban: { type: string }
        counterparty_owner: { type: string, description: "Masked owner name of the other party." }
        requested_at: { type: string, format: date-time }
        posted_at: { type: string, format: date-time }
    Session:
      type: object
      description: One active refresh-token family (a device/login). No token material.
      properties:
        family_id: { type: string, format: uuid }
        device_label: { type: string }
        user_agent: { type: string }
        ip: { type: string }
        created_at: { type: string, format: date-time }
        last_seen_at: { type: string, format: date-time }
        current: { type: boolean, description: "true when this is the family of the presented X-Refresh-Token" }
    CreateAccountRequest:
      type: object
      required: [user_id, iban, pin]
      properties:
        user_id: { type: string, format: uuid }
        iban: { type: string }
        pin: { type: string }
        transfer_limit_minor: { type: integer, format: int64 }
    Account:
      type: object
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        kind: { type: string }
        iban: { type: string }
        currency: { type: string }
        balance_minor: { type: integer, format: int64 }
        available_minor: { type: integer, format: int64 }
        transfer_limit_minor: { type: integer, format: int64 }
        is_default: { type: boolean }
        status: { type: string }
    AmountRequest:
      type: object
      required: [amount_minor]
      properties:
        amount_minor: { type: integer, format: int64 }
        description: { type: string }
    MoneyMoveResponse:
      type: object
      properties:
        transfer_id: { type: string, format: uuid }
        requires_approval: { type: boolean }
    StatusRequest:
      type: object
      required: [status]
      properties:
        status: { type: string, enum: [active, frozen, closed] }
    StatusResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string }
    CreateTransferRequest:
      type: object
      required: [debit_account, credit_account, amount_minor]
      properties:
        debit_account: { type: string, format: uuid }
        credit_account: { type: string, format: uuid }
        amount_minor: { type: integer, format: int64 }
        description: { type: string }
        end_to_end_id:
          type: string
          maxLength: 35
          description: >-
            Optional originator-supplied reference (ISO 20022 pain.001 EndToEndId,
            <= 35 chars of the ISO restricted charset). Echoed on the Transfer;
            part of the idempotency fingerprint.
    TransferResult:
      type: object
      properties:
        transfer_id: { type: string, format: uuid }
        status: { type: string }
        was_replay: { type: boolean }
    Transfer:
      type: object
      properties:
        id: { type: string, format: uuid }
        debit_account_id: { type: string, format: uuid }
        credit_account_id: { type: string, format: uuid }
        amount_minor: { type: integer, format: int64 }
        currency: { type: string }
        status: { type: string }
        kind: { type: string }
        reverses_id: { type: string, format: uuid }
        description: { type: string }
        uetr: { type: string, format: uuid, description: "Bank-minted UUIDv4 end-to-end trace reference (SWIFT UETR). Stable across idempotent replays." }
        end_to_end_id: { type: string, description: "Originator-supplied ISO 20022 EndToEndId, when given." }
        failure_reason: { type: string }
        requested_at: { type: string, format: date-time }
        posted_at: { type: string, format: date-time }
    PendingTransfer:
      type: object
      properties:
        id: { type: string, format: uuid }
        debit_account_id: { type: string, format: uuid }
        credit_account_id: { type: string, format: uuid }
        amount_minor: { type: integer, format: int64 }
        currency: { type: string }
        kind: { type: string }
        description: { type: string }
        requested_at: { type: string, format: date-time }
    ReasonRequest:
      type: object
      properties:
        reason: { type: string }
    ReverseResponse:
      type: object
      properties:
        reversal_id: { type: string, format: uuid }
    Beneficiary:
      type: object
      properties:
        id: { type: string, format: uuid }
        label: { type: string }
        credit_account_id: { type: string, format: uuid }
        iban: { type: string }
        owner_name_masked: { type: string }
        created_at: { type: string, format: date-time }
    AddBeneficiaryRequest:
      type: object
      required: [label, iban]
      properties:
        label: { type: string }
        iban: { type: string }
    ResolvedAccount:
      type: object
      properties:
        account_id: { type: string, format: uuid }
        iban: { type: string }
        owner_name_masked: { type: string }
    LedgerEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        transfer_id: { type: string, format: uuid }
        account_id: { type: string, format: uuid }
        account_iban: { type: string }
        direction: { type: string }
        amount_minor: { type: integer, format: int64 }
        signed_amount: { type: integer, format: int64 }
        balance_after: { type: integer, format: int64 }
        currency: { type: string }
        posted_at: { type: string, format: date-time }
        transfer_kind: { type: string }
        transfer_status: { type: string }
        description: { type: string }
        counterparty_iban: { type: string }
        counterparty_owner: { type: string }
    ReconcileResponse:
      type: object
      properties:
        healthy: { type: boolean }
        issues:
          type: array
          items:
            type: object
            properties:
              check_name: { type: string }
              detail: { type: string }
    ExpireHoldsResponse:
      type: object
      properties:
        expired: { type: integer }
