openapi: 3.1.0
info:
  title: bank0 API
  version: 0.1.0
  description: |
    Core-banking backend. Two surfaces, separated by domain:
      * **client** (api.bank0.hnimn.art) — customer-facing money operations
      * **admin**  (portal.bank0.hnimn.art) — operator/back-office operations

    This file is the source of truth. `oapi-codegen` generates the Go
    `ServerInterface` for each tag (client/admin); handler drift is a compile
    error. Edit here, regenerate, fix the compiler.
servers:
  - url: https://api.bank0.hnimn.art
    description: client
  - url: https://portal.bank0.hnimn.art
    description: admin
tags:
  - name: client
    description: Customer-facing operations (api.bank0.hnimn.art)
  - name: admin
    description: Operator / back-office operations (portal.bank0.hnimn.art)

paths:
  /health:
    get:
      operationId: health
      tags: [client, admin]
      summary: Liveness/version probe
      security: []
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Health" }

  /auth/login:
    post:
      operationId: login
      tags: [client]
      summary: Verify credentials (bcrypt). Establishes a session in the portal.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LoginRequest" }
      responses:
        "200":
          description: authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LoginResponse" }
        "401": { $ref: "#/components/responses/Error" }

  /auth/refresh:
    post:
      operationId: refresh
      tags: [client]
      summary: Rotate a refresh token for a new access + refresh token pair
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RefreshRequest" }
      responses:
        "200":
          description: rotated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LoginResponse" }
        "401": { $ref: "#/components/responses/Error" }

  /auth/logout:
    post:
      operationId: logout
      tags: [client]
      summary: Revoke the presented refresh token (single-session logout)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RefreshRequest" }
      responses:
        "204": { description: logged out }

  /auth/logout-all:
    post:
      operationId: logoutAll
      tags: [client]
      summary: Revoke all of the caller's refresh tokens (log out everywhere)
      responses:
        "204": { description: logged out everywhere }
        "401": { $ref: "#/components/responses/Error" }

  /auth/register:
    post:
      operationId: register
      tags: [client]
      summary: Invitation-gated self-registration. Requires a valid invitation code; creates a locked, pending-verification customer. Idempotent.
      security: []
      parameters: [ { $ref: "#/components/parameters/IdempotencyKey" } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RegisterRequest" }
      responses:
        "201":
          description: registered; a verification code has been dispatched out-of-band
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RegisterResponse" }
        "404": { $ref: "#/components/responses/Error" }   # invitation code not found
        "409": { $ref: "#/components/responses/Error" }   # username/email/phone taken; invitation code used/expired
        "422": { $ref: "#/components/responses/Error" }   # weak password / bad input / missing invitation code
        "429": { $ref: "#/components/responses/Error" }   # rate-limited

  /auth/verify-contact:
    post:
      operationId: verifyContact
      tags: [client]
      summary: Consume a verification code for an email or phone channel
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VerifyContactRequest" }
      responses:
        "200":
          description: verified; the user may now log in
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VerifyContactResponse" }
        "401": { $ref: "#/components/responses/Error" }   # wrong/expired code
        "404": { $ref: "#/components/responses/Error" }   # no such challenge
        "422": { $ref: "#/components/responses/Error" }   # too many attempts
        "429": { $ref: "#/components/responses/Error" }

  /auth/mfa/enroll:
    post:
      operationId: mfaEnroll
      tags: [client]
      summary: Begin TOTP enrollment — returns an otpauth:// URI + base32 secret
      responses:
        "200":
          description: enrollment started (unconfirmed credential created)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MfaEnrollResponse" }
        "401": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }   # already has a confirmed credential
        "503": { $ref: "#/components/responses/Error" }   # mfa_enc_key not configured

  /auth/mfa/confirm:
    post:
      operationId: mfaConfirm
      tags: [client]
      summary: Confirm TOTP enrollment with the first live code; returns one-time recovery codes
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MfaConfirmRequest" }
      responses:
        "200":
          description: MFA enabled; recovery codes (shown ONCE)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MfaRecoveryCodes" }
        "401": { $ref: "#/components/responses/Error" }   # bad code
        "404": { $ref: "#/components/responses/Error" }   # no pending enrollment
        "429": { $ref: "#/components/responses/Error" }   # throttled/locked
        "503": { $ref: "#/components/responses/Error" }

  /auth/mfa/verify:
    post:
      operationId: mfaVerify
      tags: [client]
      summary: Exchange an mfa_token + TOTP/recovery code for an access + refresh pair
      security: []                                         # the mfa_token IS the credential
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MfaVerifyRequest" }
      responses:
        "200":
          description: verified; access + refresh issued (amr includes "otp")
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LoginResponse" }
        "401": { $ref: "#/components/responses/Error" }   # bad/expired mfa_token or code
        "429": { $ref: "#/components/responses/Error" }   # throttled/locked
        "503": { $ref: "#/components/responses/Error" }

  /auth/resend-code:
    post:
      operationId: resendCode
      tags: [client]
      summary: Re-dispatch a verification code (cooldown-throttled)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ResendCodeRequest" }
      responses:
        "202": { description: dispatched (or silently a no-op if no pending challenge) }
        "429": { $ref: "#/components/responses/Error" }

  /me:
    get:
      operationId: getMe
      tags: [client]
      summary: The authenticated customer's own profile (resolved from the JWT subject)
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "401": { $ref: "#/components/responses/Error" }
    patch:
      operationId: updateMe
      tags: [client]
      summary: Update the caller's own profile (partial; name/email/phone only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateMeRequest" }
      responses:
        "200":
          description: updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "401": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /me/password:
    post:
      operationId: changePassword
      tags: [client]
      summary: Change the authenticated customer's password (revokes other sessions)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChangePasswordRequest" }
      responses:
        "204": { description: password changed; other sessions revoked }
        "401": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /me/invitations:
    post:
      operationId: createInvitation
      tags: [client]
      summary: Mint a single-use invitation code (spends one unit of the caller's lifetime budget)
      responses:
        "201":
          description: created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CreateInvitationResponse" }
        "401": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }   # account not verified
        "409": { $ref: "#/components/responses/Error" }   # invitation budget exhausted
    get:
      operationId: listInvitations
      tags: [client]
      summary: List the caller's invitations (newest first; status is derived)
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Invitation" }
        "401": { $ref: "#/components/responses/Error" }

  /me/sessions:
    get:
      operationId: listSessions
      tags: [client]
      summary: List the caller's active sessions (refresh-token families = devices)
      parameters: [ { $ref: "#/components/parameters/SessionToken" } ]
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Session" }
        "401": { $ref: "#/components/responses/Error" }

  /me/sessions/{family_id}:
    delete:
      operationId: revokeSession
      tags: [client]
      summary: Revoke one session/device (selective sign-out). Idempotent.
      parameters: [ { $ref: "#/components/parameters/FamilyId" } ]
      responses:
        "204": { description: revoked (idempotent — also 204 if already gone) }
        "401": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }   # family not owned by caller

  /me/accounts:
    post:
      operationId: openMyAccount
      tags: [client]
      summary: Open a new account for the caller (server allocates the IBAN). Idempotent.
      parameters: [ { $ref: "#/components/parameters/IdempotencyKey" } ]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OpenAccountRequest" }
      responses:
        "201":
          description: opened
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }
        "401": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }   # per-user account cap reached
        "422": { $ref: "#/components/responses/Error" }

  /accounts/{id}/limit-requests:
    post:
      operationId: requestLimitChange
      tags: [client]
      summary: Request a transfer-limit change on an owned account (an operator approves)
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LimitRequest" }
      responses:
        "201":
          description: pending approval
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LimitRequestResponse" }
        "401": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }   # not the caller's account
        "404": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }   # negative / unchanged limit

  /me/events:
    get:
      operationId: listMyEvents
      tags: [client]
      summary: The caller's notification feed (money + security events), newest first
      description: >-
        Per-user append-only feed, written in the same DB transaction as its cause
        (a posted transfer, an incoming payment, a new sign-in, a dispute update).
        Bare array (always [], never null; end of data = a short page). Paginate
        with `cursor` (last row's created_at) + `cursor_id` (last row's id).
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - name: cursor_id
          in: query
          required: false
          description: id of the last row seen; with `cursor` forms the composite keyset tie-break.
          schema: { type: string, format: uuid }
        - { $ref: "#/components/parameters/Limit" }
        - name: type
          in: query
          required: false
          description: Filter to one event type.
          schema:
            type: string
            enum: [transfer.posted, transfer.held, payment.incoming, device.new, dispute.updated]
        - name: unread_only
          in: query
          required: false
          schema: { type: boolean }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Event" }
        "400": { $ref: "#/components/responses/Error" }
        "401": { $ref: "#/components/responses/Error" }

  /me/events/unread:
    get:
      operationId: countUnreadEvents
      tags: [client]
      summary: Unread-event count for the caller (notification badge)
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UnreadCount" }
        "401": { $ref: "#/components/responses/Error" }

  /me/events/read:
    post:
      operationId: markEventsRead
      tags: [client]
      summary: Mark events read up to and including a cursor (or all when omitted)
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MarkEventsReadRequest" }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MarkedResponse" }
        "400": { $ref: "#/components/responses/Error" }
        "401": { $ref: "#/components/responses/Error" }

  /me/warning-acks:
    post:
      operationId: recordWarningAck
      tags: [client]
      summary: Record fraud-warning evidence ("warned and chose to proceed / backed out")
      description: >-
        The client posts one row per warning interaction, BEFORE submitting the
        transfer. This is the CoP/VOP liability evidence — append-only, tied to the
        caller; the referenced debit account must be theirs.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/WarningAckRequest" }
      responses:
        "201":
          description: recorded
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IdResponse" }
        "401": { $ref: "#/components/responses/Error" }
        "403": { $ref: "#/components/responses/Error" }   # debit account not the caller's
        "422": { $ref: "#/components/responses/Error" }

  /beneficiaries:
    get:
      operationId: listBeneficiaries
      tags: [client]
      summary: List the caller's saved beneficiaries (fuzzy search is client-side)
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Beneficiary" }
    post:
      operationId: addBeneficiary
      tags: [client]
      summary: Save a beneficiary by IBAN (resolves it to a destination account)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AddBeneficiaryRequest" }
      responses:
        "201":
          description: created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Beneficiary" }
        "404": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }
        "422": { $ref: "#/components/responses/Error" }

  /beneficiaries/resolve:
    get:
      operationId: resolveBeneficiary
      tags: [client]
      summary: Confirmation of payee — masked owner name + the server-side match verdict
      description: >-
        Pass `name` (what the customer typed) to get the CoP/VOP verdict computed
        server-side; all clients then gate identically by construction. Without
        `name` the verdict is `unable`. On a close_match the actual registered
        name is returned (suggested_name) so a typo can be corrected.
      parameters:
        - name: iban
          in: query
          required: true
          schema: { type: string }
        - name: name
          in: query
          required: false
          description: The payee name as typed by the customer.
          schema: { type: string }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ResolvedAccount" }
        "404": { $ref: "#/components/responses/Error" }

  /beneficiaries/{id}:
    delete:
      operationId: deleteBeneficiary
      tags: [client]
      summary: Remove a saved beneficiary (scoped to the caller)
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "204": { description: deleted }
        "404": { $ref: "#/components/responses/Error" }

  /users:
    post:
      operationId: createUser
      tags: [admin]
      summary: Create a user (customer or staff)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateUserRequest" }
      responses:
        "201":
          description: created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IdResponse" }
        "409": { $ref: "#/components/responses/Error" }

  /users/{id}:
    get:
      operationId: getUser
      tags: [admin]
      summary: Get a user by id (no password hash)
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "404": { $ref: "#/components/responses/Error" }

  /users/{id}/accounts:
    get:
      operationId: listUserAccounts
      tags: [client, admin]
      summary: List a user's accounts
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Account" }

  /accounts:
    post:
      operationId: createAccount
      tags: [admin]
      summary: Open a customer account
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateAccountRequest" }
      responses:
        "201":
          description: created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IdResponse" }

  /accounts/{id}:
    get:
      operationId: getAccount
      tags: [client, admin]
      summary: Get an account with ledger + available balance
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }
        "404": { $ref: "#/components/responses/Error" }

  /accounts/{id}/ledger:
    get:
      operationId: getAccountLedger
      tags: [client]
      summary: Account statement (composite-keyset cursor, running balance, filterable)
      description: >-
        Newest-first, bare array (always [], never null; end of data = a short page).
        Paginate by passing the last row's posted_at as `cursor` AND its id as
        `cursor_id` — the composite (posted_at, id) keyset pages correctly even when
        rows share a timestamp (the posted_at-only cursor used to silently skip them).
      parameters:
        - { $ref: "#/components/parameters/Id" }
        - { $ref: "#/components/parameters/Cursor" }
        - name: cursor_id
          in: query
          required: false
          description: id of the last row seen; with `cursor` forms the composite keyset tie-break.
          schema: { type: string, format: uuid }
        - { $ref: "#/components/parameters/Limit" }
        - name: from
          in: query
          required: false
          description: only entries posted at or after this instant (inclusive).
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: false
          description: only entries posted strictly before this instant (exclusive).
          schema: { type: string, format: date-time }
        - name: direction
          in: query
          required: false
          schema: { type: string, enum: [debit, credit] }
        - name: q
          in: query
          required: false
          description: free-text match over description, counterparty IBAN, and counterparty owner.
          schema: { type: string }
        - name: min_minor
          in: query
          required: false
          description: minimum absolute amount in minor units (inclusive).
          schema: { type: integer, format: int64 }
        - name: max_minor
          in: query
          required: false
          description: maximum absolute amount in minor units (inclusive).
          schema: { type: integer, format: int64 }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/LedgerEntry" }

  /accounts/{id}/deposit:
    post:
      operationId: deposit
      tags: [admin]
      summary: Credit an account (posts from external_clearing). Idempotent.
      parameters:
        - { $ref: "#/components/parameters/Id" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AmountRequest" }
      responses:
        "200":
          description: posted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MoneyMoveResponse" }
        "422": { $ref: "#/components/responses/Error" }

  /accounts/{id}/withdraw:
    post:
      operationId: withdraw
      tags: [admin]
      summary: Debit an account (posts to external_clearing). Idempotent.
      parameters:
        - { $ref: "#/components/parameters/Id" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AmountRequest" }
      responses:
        "200":
          description: posted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MoneyMoveResponse" }
        "422": { $ref: "#/components/responses/Error" }

  /accounts/{id}/status:
    post:
      operationId: setAccountStatus
      tags: [admin]
      summary: Freeze / unfreeze / close an account
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/StatusRequest" }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StatusResponse" }

  /transfers:
    get:
      operationId: listMyTransfers
      tags: [client]
      summary: List the caller's transfers across all their accounts (keyset-paginated)
      description: >-
        Every transfer where the caller owns the debit OR credit account, newest
        first. Bare array (always [], never null; end of data = a short page).
        Paginate with `cursor` (last row's requested_at) + `cursor_id` (last row's
        id). `direction` is caller-relative: out = caller debits, in = caller credits.
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - name: cursor_id
          in: query
          required: false
          description: id of the last row seen; with `cursor` forms the composite keyset tie-break.
          schema: { type: string, format: uuid }
        - { $ref: "#/components/parameters/Limit" }
        - name: from
          in: query
          required: false
          description: only transfers requested at or after this instant (inclusive).
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: false
          description: only transfers requested strictly before this instant (exclusive).
          schema: { type: string, format: date-time }
        - name: status
          in: query
          required: false
          schema: { type: string, enum: [pending, held, under_review, posted, failed, canceled, reversed] }
        - name: kind
          in: query
          required: false
          schema: { type: string, enum: [transfer, deposit, withdrawal, reversal, fee, adjustment] }
        - name: direction
          in: query
          required: false
          description: "Relative to the caller: out = caller's account is the debit side; in = the credit side."
          schema: { type: string, enum: [out, in] }
        - name: q
          in: query
          required: false
          description: free-text match over description and either side's IBAN.
          schema: { type: string }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/TransferListItem" }
        "400": { $ref: "#/components/responses/Error" }
    post:
      operationId: createTransfer
      tags: [client]
      summary: Create a transfer (auto-posts by default). Idempotent.
      description: >-
        Moves money from a debit account the caller owns. The returned status is
        usually `posted`, but the server-side fraud/AML gates may park the payment
        with funds reserved (not yet posted): `held` (a customer cooling-off — release
        with POST /transfers/{id}/confirm or cancel it) or `under_review` (operator
        screening — the customer can neither confirm nor cancel it). Preview the
        decision without moving money via POST /transfers/intent.


        Idempotent on the `Idempotency-Key` header, namespaced to the caller: a replay
        with the SAME key + SAME parameters returns the original result with
        `Idempotency-Replayed: true` (a replay short-circuits BEFORE the gates and
        returns the live status verbatim). Reusing the key with DIFFERENT parameters
        is `422 idempotency_key_conflict`; a duplicate that races an in-flight request
        is `409 in_progress`. Keys are retained ~7 days, after which the same key is a
        fresh request.
      parameters: [ { $ref: "#/components/parameters/IdempotencyKey" } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateTransferRequest" }
      responses:
        "200":
          description: >-
            result — status may be posted (or replayed), or held / under_review when a
            gate parks the payment with funds reserved.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TransferResult" }
        "403": { $ref: "#/components/responses/Error" }   # step_up_required — re-verify at /auth/mfa/verify, retry with the SAME Idempotency-Key; or forbidden (debit not owned)
        "409": { $ref: "#/components/responses/Error" }   # ack_required — a required fraud-warning acknowledgement is missing / too fresh / expired (re-acknowledge, then retry); or in_progress (duplicate key in flight)
        "422": { $ref: "#/components/responses/Error" }   # payment_blocked (a rule refused the payment), insufficient_funds, or idempotency_key_conflict

  /transfers/intent:
    post:
      operationId: transferIntent
      tags: [client]
      summary: Preview the fraud decision for a would-be transfer (moves no money).
      description: >-
        Read-only preflight for a transfer the caller is about to make: it runs the
        same server-side risk evaluation POST /transfers applies, but reserves nothing,
        posts nothing, and writes no row — call it as many times as you like. Returns
        the collapsed `decision`, the server-authoritative `risk_band` + `reason_codes`,
        and — when a warning rule matched — a `warning` object with the customer-facing
        copy and its acknowledgement / cooling-off policy. There is NO numeric risk
        score in the response, by design; the score never leaves the database.
        DELIBERATE LIMITATION: sanctions/AML watchlist screening does NOT run at
        preflight (no tipping-off) — a screened payment previews as its risk decision
        and only comes back `under_review` at submit.


        `decision` values: `allow` (proceed), `warn` (show the warning, may proceed),
        `step_up` (re-verification linked to this exact payment is required — see the
        step-up flow on POST /transfers), `review` (submitting will park the payment as
        `held` for customer confirmation), `block` (submitting will be refused
        `422 payment_blocked`). When `warning.required_ack` is true, record the
        acknowledgement via POST /me/warning-acks before submitting, respecting
        `cooling_off_seconds`. Requires the caller to own the debit account (403).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TransferIntentRequest" }
      responses:
        "200":
          description: the read-only decision preview (no money moved)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TransferIntent" }
        "400": { $ref: "#/components/responses/Error" }   # malformed body / invalid account id
        "403": { $ref: "#/components/responses/Error" }   # the caller does not own the debit account

  /transfers/pending:
    get:
      operationId: listPendingTransfers
      tags: [admin]
      summary: Operator pending-transfer queue (cursor-paginated)
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/PendingTransfer" }

  /transfers/suggestion:
    get:
      operationId: suggestTransferDestinations
      tags: [client]
      summary: >-
        Guided-transfer demo: up to 3 candidate destination accounts (other users',
        randomly sampled + shuffled, optionally including a short-listed mule). The
        client picks one at random; an empty array means "no candidate — fall back to
        the caller's own account". Read-only; never moves money.
      parameters:
        - name: from_account
          in: query
          required: false
          description: Intended debit account (must be owned by the caller). Excluded from the menu.
          schema: { type: string, format: uuid }
        - name: amount_minor
          in: query
          required: false
          description: Intended amount in minor units; lets a scenario gate its mule on a threshold.
          schema: { type: integer, format: int64 }
      responses:
        "200":
          description: up to 3 candidate destinations (options may be empty)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GuidedSuggestions" }
        "403": { $ref: "#/components/responses/Error" }

  /transfers/{id}:
    get:
      operationId: getTransfer
      tags: [client, admin]
      summary: Get a transfer
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Transfer" }
        "404": { $ref: "#/components/responses/Error" }

  /transfers/{id}/post:
    post:
      operationId: postTransfer
      tags: [client]
      summary: Post a pending transfer (deferred settlement). Idempotent.
      description: >-
        Posts a transfer previously staged as `pending`. Idempotent: reposting an
        already-posted transfer returns its current status rather than erroring.
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StatusResponse" }

  /transfers/{id}/confirm:
    post:
      operationId: confirmTransfer
      tags: [client]
      summary: Confirm (release) a held transfer, posting it. Idempotent.
      description: >-
        Releases a transfer the caller parked in the `held` cooling-off state (Rec 22),
        posting it and moving the money. Only the transfer's owner may confirm it; a
        transfer the caller does not own is `404`, hiding its existence. Idempotent:
        confirming an already-`posted` transfer returns `posted`. A transfer that is
        not held — notably `under_review` (operator screening, which the customer can
        neither confirm nor cancel) — or whose confirmation window has expired is
        `409 invalid_state`.
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "200":
          description: released (posted), or already posted (idempotent)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StatusResponse" }
        "404": { $ref: "#/components/responses/Error" }   # not the owner / unknown transfer
        "409": { $ref: "#/components/responses/Error" }   # not held / under_review / confirmation window expired

  /transfers/{id}/cancel:
    post:
      operationId: cancelTransfer
      tags: [client]
      summary: Cancel a pending or held transfer (releases the hold). Idempotent.
      description: >-
        Cancels a `pending` or `held` transfer the caller owns and releases its
        authorization hold. A transfer `under_review` (operator screening) cannot be
        cancelled by the customer -> `409 invalid_state`. Idempotent: cancelling an
        already-cancelled transfer returns its status.
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReasonRequest" }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StatusResponse" }
        "409": { $ref: "#/components/responses/Error" }   # under_review — operator screening, not customer-cancellable

  /transfers/{id}/reverse:
    post:
      operationId: reverseTransfer
      tags: [admin]
      summary: Reverse a posted transfer (appends inverse entries). Idempotent.
      description: >-
        Clawback remedy: appends a new `reversal` transfer with inverse ledger entries;
        the original is never edited. Idempotent on the `Idempotency-Key` header — a
        replay with the SAME key + SAME transfer returns the original result with
        `Idempotency-Replayed: true`; the same key with a different transfer is
        `422 idempotency_key_conflict`. Reversal is ALSO idempotent on the transfer
        itself: a second reverse of an already-reversed transfer — even under a
        DIFFERENT key — returns the EXISTING reversal id (200), never a second reversal.
        Keys are retained ~7 days.
      parameters:
        - { $ref: "#/components/parameters/Id" }
        - { $ref: "#/components/parameters/IdempotencyKey" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReasonRequest" }
      responses:
        "200":
          description: reversed (or the existing reversal, replayed / already reversed)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReverseResponse" }
        "422": { $ref: "#/components/responses/Error" }   # idempotency_key_conflict, or the transfer is not in a reversible state

  /transfers/{id}/dispute:
    post:
      operationId: raiseDispute
      tags: [client]
      summary: >-
        Raise a dispute on a transfer the caller is a party to ("I don't
        recognise this"). One open dispute per (transfer, caller).
      description: >-
        Opens a dispute the caller is a party to. Naturally idempotent on
        (transfer, caller) rather than on a header: at most one OPEN dispute may exist
        per pair, so a second attempt while one is open is `409` (rather than creating a
        duplicate). No `Idempotency-Key` is used here.
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RaiseDisputeRequest" }
      responses:
        "201":
          description: dispute opened
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Dispute" }
        "404": { $ref: "#/components/responses/Error" }   # not a party / unknown transfer
        "409": { $ref: "#/components/responses/Error" }   # an open dispute already exists
        "422": { $ref: "#/components/responses/Error" }   # invalid category / transfer not disputable

  /disputes:
    get:
      operationId: listMyDisputes
      tags: [client]
      summary: List the caller's disputes (newest first, cursor-paginated)
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Dispute" }

  /disputes/{id}:
    get:
      operationId: getDispute
      tags: [client]
      summary: Track one of the caller's disputes (scoped to raiser)
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Dispute" }
        "404": { $ref: "#/components/responses/Error" }

  /admin/disputes:
    get:
      operationId: listDisputes
      tags: [admin]
      summary: Operator dispute triage queue (filter by status, cursor-paginated)
      parameters:
        - name: status
          in: query
          required: false
          schema: { type: string, enum: [open, under_review, resolved, rejected] }
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DisputeQueueItem" }

  /admin/disputes/{id}/resolve:
    post:
      operationId: resolveDispute
      tags: [admin]
      summary: Move a dispute to resolved/rejected (or under_review) with a note
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ResolveDisputeRequest" }
      responses:
        "200":
          description: updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Dispute" }
        "404": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }   # illegal state transition

  /admin/disputes/{id}/decide:
    post:
      operationId: decideDispute
      tags: [admin]
      summary: Decide a PSR-style claim — reimburse (moves real money from clearing) or decline
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DecideDisputeRequest" }
      responses:
        "200":
          description: decided
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DecideDisputeResponse" }
        "403": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }   # already decided / terminal
        "422": { $ref: "#/components/responses/Error" }   # bad amount / decision

  /admin/disputes/{id}/recall:
    post:
      operationId: recallDispute
      tags: [admin]
      summary: Advance the simulated interbank recall (none -> requested -> funds_returned|refused)
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RecallDisputeRequest" }
      responses:
        "200":
          description: updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RecallDisputeResponse" }
        "403": { $ref: "#/components/responses/Error" }
        "404": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }   # illegal transition
        "422": { $ref: "#/components/responses/Error" }

  /admin/reconcile:
    get:
      operationId: reconcile
      tags: [admin]
      summary: Run ledger invariant checks (empty issues = books balanced)
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReconcileResponse" }

  /admin/expire-holds:
    post:
      operationId: expireHolds
      tags: [admin]
      summary: Manually run the hold-expiry sweep
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpireHoldsResponse" }

  /admin/limit-requests:
    get:
      operationId: listLimitRequests
      tags: [admin]
      summary: Pending transfer-limit-change requests (cursor-paginated)
      parameters:
        - { $ref: "#/components/parameters/Cursor" }
        - { $ref: "#/components/parameters/Limit" }
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/LimitRequestItem" }

  /admin/limit-requests/{id}/approve:
    post:
      operationId: approveLimitRequest
      tags: [admin]
      summary: Approve a limit request (applies the new limit; 4-eyes — not your own)
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      responses:
        "200":
          description: applied
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StatusResponse" }
        "403": { $ref: "#/components/responses/Error" }   # own request / not operator
        "404": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }   # already handled

  /admin/limit-requests/{id}/reject:
    post:
      operationId: rejectLimitRequest
      tags: [admin]
      summary: Reject a pending limit request
      parameters: [ { $ref: "#/components/parameters/Id" } ]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReasonRequest" }
      responses:
        "200":
          description: rejected
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StatusResponse" }
        "404": { $ref: "#/components/responses/Error" }
        "409": { $ref: "#/components/responses/Error" }

components:
  securitySchemes:
    # client surface (api.bank0.hnimn.art): JWT bearer from POST /auth/login
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    # admin surface (portal.bank0.hnimn.art): DB-backed cookie session from /login
    sessionCookie:
      type: apiKey
      in: cookie
      name: bank0_session

  parameters:
    Id:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string }
    Cursor:
      name: cursor
      in: query
      required: false
      schema: { type: string, format: date-time }
    Limit:
      name: limit
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 200 }
    FamilyId:
      name: family_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    SessionToken:
      name: X-Refresh-Token
      in: header
      required: false
      description: >-
        The caller's current refresh token. Optional; when present, the matching
        family is flagged current:true in GET /me/sessions. Never logged.
      schema: { type: string }

  responses:
    Error:
      description: error
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
        message: { type: string }
      required: [error]
    Health:
      type: object
      properties:
        status: { type: string }
        version: { type: string }
    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username: { type: string }
        password: { type: string }
        device_label: { type: string, maxLength: 64, description: "Optional human-readable device name shown in the sessions list (e.g. \"Pixel 8\"). Display metadata only — never a trust signal." }
    LoginResponse:
      type: object
      properties:
        user_id: { type: string, format: uuid }
        token: { type: string, description: "JWT access token (HS256). Send as 'Authorization: Bearer <token>'. Absent when mfa_required." }
        token_type: { type: string, example: Bearer }
        expires_at: { type: string, format: date-time }
        refresh_token: { type: string, description: "Opaque refresh token. POST to /auth/refresh to rotate it for a new pair. Absent when mfa_required." }
        mfa_required: { type: boolean, description: "When true, no tokens are issued; exchange mfa_token + code at /auth/mfa/verify." }
        mfa_token: { type: string, description: "Short-lived (5m) pending-login token. Present only when mfa_required." }
    RefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token: { type: string }
    IdResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
    CreateUserRequest:
      type: object
      required: [username, password, full_name]
      properties:
        username: { type: string }
        password: { type: string }
        full_name: { type: string }
        email: { type: string }
        phone_number: { type: string }
        role: { type: string, enum: [customer, operator, admin, auditor] }
    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        username: { type: string }
        full_name: { type: string }
        email: { type: string }
        phone_number: { type: string }
        role: { type: string }
        status: { type: string }
        onboarding_status: { type: string, description: "Onboarding lifecycle (pending_verification/verified/active/rejected); admin-created users are 'active'." }
        invites_remaining: { type: integer, description: "Lifetime invitation budget still available to the user." }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    RegisterRequest:
      type: object
      required: [username, password, full_name, invitation_code]
      properties:
        username:        { type: string }
        password:        { type: string, minLength: 12, maxLength: 256 }
        full_name:       { type: string }
        email:           { type: string }
        phone_number:    { type: string }
        invitation_code: { type: string, minLength: 1, description: "Single-use invitation code from an existing member." }
      description: At least one of email/phone_number is required (enforced server-side).
    CreateInvitationResponse:
      type: object
      properties:
        code:              { type: string, description: "Single-use invitation code to share with an invitee." }
        expires_at:        { type: string, format: date-time }
        invites_remaining: { type: integer, description: "Inviter's remaining lifetime budget after this mint." }
    Invitation:
      type: object
      required: [code, status, created_at, expires_at]
      properties:
        code:        { type: string }
        status:      { type: string, enum: [pending, consumed, expired], description: "Derived (never stored): consumed > expired > pending." }
        created_at:  { type: string, format: date-time }
        expires_at:  { type: string, format: date-time }
        consumed_at: { type: string, format: date-time, nullable: true }
    RegisterResponse:
      type: object
      properties:
        user_id:           { type: string, format: uuid }
        onboarding_status: { type: string, example: pending_verification }
        verify_channel:    { type: string, enum: [email, phone], description: "channel a code was sent to" }
        verify_token:      { type: string, description: "Opaque handle for /auth/verify-contact and /auth/resend-code. The code itself is delivered out-of-band, never in a response." }
    VerifyContactRequest:
      type: object
      required: [verify_token, code]
      properties:
        verify_token: { type: string }
        code:         { type: string, description: "6-digit numeric code" }
    VerifyContactResponse:
      type: object
      properties:
        user_id:           { type: string, format: uuid }
        onboarding_status: { type: string }
        channel:           { type: string, enum: [email, phone] }
        login_ready:       { type: boolean, description: "true once the user may POST /auth/login" }
    ResendCodeRequest:
      type: object
      required: [verify_token]
      properties:
        verify_token: { type: string }
    OpenAccountRequest:
      type: object
      properties:
        kind: { type: string, enum: [customer], default: customer, description: "reserved for future kinds (savings); only 'customer' is accepted today" }
    Event:
      type: object
      required: [id, type, created_at]
      properties:
        id: { type: string, format: uuid }
        type:
          type: string
          enum: [transfer.posted, transfer.held, payment.incoming, device.new, dispute.updated]
        title: { type: string, description: "Short human-readable summary (server-driven copy)." }
        body: { type: string }
        related_transfer_id: { type: string, format: uuid }
        related_account_id: { type: string, format: uuid }
        data:
          type: object
          additionalProperties: true
          description: "Type-specific payload (amount_minor, counterparty_iban, user_agent, …)."
        read_at: { type: string, format: date-time }
        created_at: { type: string, format: date-time }
    UnreadCount:
      type: object
      properties:
        unread_count: { type: integer }
    MarkEventsReadRequest:
      type: object
      description: Omit the cursor to mark everything read.
      properties:
        up_to_cursor:    { type: string, format: date-time, description: "created_at of the newest event to mark (inclusive)." }
        up_to_cursor_id: { type: string, format: uuid }
    MarkedResponse:
      type: object
      properties:
        marked: { type: integer }
    MfaEnrollResponse:
      type: object
      properties:
        secret: { type: string, description: "base32 TOTP secret (also embedded in the URI). Shown ONCE." }
        otpauth_uri: { type: string, description: "otpauth://totp/bank0:<username>?secret=...&issuer=bank0 (SHA1/6/30s)" }
    MfaConfirmRequest:
      type: object
      required: [code]
      properties:
        code: { type: string, description: "6-digit TOTP from the authenticator app" }
    MfaRecoveryCodes:
      type: object
      properties:
        recovery_codes:
          type: array
          items: { type: string }
          description: "One-time recovery codes; shown ONCE, stored hashed server-side."
    MfaVerifyRequest:
      type: object
      required: [mfa_token, code]
      properties:
        mfa_token: { type: string }
        code: { type: string, description: "6-digit TOTP, or a recovery code" }
        device_label: { type: string, maxLength: 64, description: "Optional human-readable device name shown in the sessions list (e.g. \"Pixel 8\"). Display metadata only — never a trust signal." }
        link:
          type: object
          description: >-
            Dynamic-linking commitment (PSD2 RTS Art. 5 / WYSIWYS): binds this OTP to
            ONE payment. REQUIRED to pass the transfer step-up gate; changing amount
            or payee invalidates the factor. Omit for a plain login verify.
          required: [debit_account, credit_account, amount_minor]
          properties:
            debit_account:  { type: string, format: uuid }
            credit_account: { type: string, format: uuid }
            amount_minor:   { type: integer, format: int64 }
    DecideDisputeRequest:
      type: object
      required: [decision]
      properties:
        decision:                { type: string, enum: [reimbursed, partially_reimbursed, declined] }
        reimbursed_amount_minor: { type: integer, format: int64, description: "Requested payout; capped + excess-adjusted by bank_settings policy in the DB." }
        vulnerable:              { type: boolean, description: "Marks the customer vulnerable (excess waived)." }
        note:                    { type: string }
    DecideDisputeResponse:
      type: object
      properties:
        id:           { type: string, format: uuid }
        decision:     { type: string }
        payout_minor: { type: integer, format: int64, description: "The amount actually credited back." }
        currency:     { type: string, description: "ISO-4217 currency of the disputed transfer (Rec 19)." }
    RecallDisputeRequest:
      type: object
      required: [status]
      properties:
        status: { type: string, enum: [requested, funds_returned, refused] }
        reason: { type: string, description: "e.g. FRAD" }
    RecallDisputeResponse:
      type: object
      properties:
        id:            { type: string, format: uuid }
        recall_status: { type: string }
    WarningAckRequest:
      type: object
      required: [category]
      properties:
        category:          { type: string, enum: [cop_no_match, cop_close_match, cop_unable, guided_steer, high_value, risk_warning, other] }
        reason_code:       { type: string, description: "Machine token echoed from the warning (e.g. NO_MATCH)." }
        acknowledged:      { type: boolean, default: true, description: "true = customer proceeded past the warning; false = shown but backed out." }
        debit_account_id:  { type: string, format: uuid }
        counterparty_iban: { type: string }
        amount_minor:      { type: integer, format: int64 }
        device:            { type: string, description: "Client platform/device label." }
    LimitRequest:
      type: object
      required: [transfer_limit_minor]
      properties:
        transfer_limit_minor: { type: integer, format: int64, minimum: 0 }
        reason:               { type: string }
    LimitRequestResponse:
      type: object
      properties:
        request_id:            { type: string, format: uuid }
        account_id:            { type: string, format: uuid }
        requested_limit_minor: { type: integer, format: int64 }
        status:                { type: string, example: pending }
    LimitRequestItem:
      type: object
      properties:
        request_id:            { type: string, format: uuid }
        account_id:            { type: string, format: uuid }
        account_iban:          { type: string }
        user_id:               { type: string, format: uuid }
        username:              { type: string }
        current_limit_minor:   { type: integer, format: int64 }
        requested_limit_minor: { type: integer, format: int64 }
        reason:                { type: string }
        requested_at:          { type: string, format: date-time }
    UpdateMeRequest:
      type: object
      # All optional; absent field => unchanged (COALESCE in update_user_info).
      # role / status / password are deliberately NOT accepted here.
      properties:
        full_name:    { type: string }
        email:        { type: string }
        phone_number: { type: string }
    ChangePasswordRequest:
      type: object
      required: [current_password, new_password]
      properties:
        current_password: { type: string }
        new_password:     { type: string, minLength: 12, maxLength: 256 }
        refresh_token:
          type: string
          description: >-
            Opaque refresh token of the session performing the change; its family
            is spared from revocation. Optional: if omitted, ALL families are
            revoked and the caller must re-login elsewhere.
    TransferSuggestion:
      type: object
      properties:
        account_id:        { type: string, format: uuid }
        iban:              { type: string }
        owner_name_masked: { type: string, description: "Masked, exactly as /beneficiaries/resolve. Never the full name." }
        reason:            { type: string, description: "Human-facing label shown in the guided banner." }
        scenario:          { type: string, description: "Active scenario name for the short-listed mule." }
        source:            { type: string, enum: [scenario], description: "Always 'scenario' from the backend; the client synthesises 'own_account' for its empty-menu fallback." }
    GuidedSuggestions:
      type: object
      description: "Guided-transfer mule menu — up to 3 third-party candidates; the client picks one at random, or falls back to the caller's own account when options is empty."
      required: [options]
      properties:
        options:
          type: array
          items: { $ref: "#/components/schemas/TransferSuggestion" }
    RaiseDisputeRequest:
      type: object
      properties:
        category:  { type: string, enum: [unrecognised, fraud, wrong_amount, duplicate, other] }
        reason:    { type: string, description: "Free-text customer explanation (optional)." }
        scam_type: { type: string, enum: [impersonation, purchase, investment, romance, invoice, advance_fee, other], description: "Optional APP-scam claim tag; starts the PSR business-day clock semantics." }
    Dispute:
      type: object
      properties:
        id:              { type: string, format: uuid }
        transfer_id:     { type: string, format: uuid }
        status:          { type: string, enum: [open, under_review, resolved, rejected] }
        category:        { type: string, enum: [unrecognised, fraud, wrong_amount, duplicate, other] }
        reason:          { type: string }
        resolution_note: { type: string }
        scam_type:               { type: string, enum: [impersonation, purchase, investment, romance, invoice, advance_fee, other] }
        sla_due_at:              { type: string, format: date-time, description: "PSR-style business-day deadline (15 BBD from raise)." }
        decision:                { type: string, enum: [pending, reimbursed, partially_reimbursed, declined] }
        reimbursed_amount_minor: { type: integer, format: int64, description: "Actual payout, net of the excess (waived for vulnerable customers)." }
        vulnerable_flag:         { type: boolean }
        recall_status:           { type: string, enum: [none, requested, funds_returned, refused], description: "Simulated interbank recall (pacs.004)." }
        recall_reason:           { type: string, description: "e.g. FRAD" }
        currency:        { type: string, description: "ISO-4217 currency of the disputed transfer (Rec 19)." }
        created_at:      { type: string, format: date-time }
        updated_at:      { type: string, format: date-time }
    DisputeQueueItem:
      type: object
      description: Admin queue row — joins transfer + raiser context for triage.
      properties:
        id:             { type: string, format: uuid }
        transfer_id:    { type: string, format: uuid }
        status:         { type: string }
        category:       { type: string }
        reason:         { type: string }
        amount_minor:   { type: integer, format: int64 }
        currency:       { type: string }
        raised_by:      { type: string, description: "Raiser username." }
        debit_iban:     { type: string }
        credit_iban:    { type: string }
        scam_type:      { type: string }
        sla_due_at:     { type: string, format: date-time }
        decision:       { type: string }
        reimbursed_amount_minor: { type: integer, format: int64 }
        vulnerable_flag: { type: boolean }
        recall_status:  { type: string }
        recall_reason:  { type: string }
        created_at:     { type: string, format: date-time }
    ResolveDisputeRequest:
      type: object
      required: [status]
      properties:
        status:          { type: string, enum: [under_review, resolved, rejected] }
        resolution_note: { type: string }
    TransferListItem:
      type: object
      description: A transfer in the caller's cross-account history (direction is caller-relative).
      properties:
        id: { type: string, format: uuid }
        debit_account_id: { type: string, format: uuid }
        credit_account_id: { type: string, format: uuid }
        amount_minor: { type: integer, format: int64 }
        currency: { type: string }
        status: { type: string, description: "pending | held | under_review | posted | failed | canceled | reversed." }
        status_iso: { type: string, description: "ISO-20022-aligned ExternalPaymentTransactionStatus (PDNG/ACSC/RJCT/CANC). Computed from status, never stored (Rec 20; see docs/12-rail-readiness.md)." }
        kind: { type: string }
        description: { type: string }
        direction: { type: string, enum: [out, in], description: "Relative to the caller." }
        counterparty_iban: { type: string }
        counterparty_owner: { type: string, description: "Masked owner name of the other party." }
        hold_reason: { type: string, nullable: true, description: "Why a held/under_review transfer is parked; null otherwise." }
        hold_expires_at: { type: string, format: date-time, nullable: true, description: "When the hold/review window lapses (auto-cancel); null when not parked." }
        requested_at: { type: string, format: date-time }
        posted_at: { type: string, format: date-time }
    Session:
      type: object
      description: One active refresh-token family (a device/login). No token material.
      properties:
        family_id: { type: string, format: uuid }
        device_label: { type: string }
        user_agent: { type: string }
        ip: { type: string }
        created_at: { type: string, format: date-time }
        last_seen_at: { type: string, format: date-time }
        current: { type: boolean, description: "true when this is the family of the presented X-Refresh-Token" }
    CreateAccountRequest:
      type: object
      required: [user_id, iban, pin]
      properties:
        user_id: { type: string, format: uuid }
        iban: { type: string }
        pin: { type: string }
        transfer_limit_minor: { type: integer, format: int64 }
    Account:
      type: object
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        kind: { type: string }
        iban: { type: string }
        currency: { type: string }
        balance_minor: { type: integer, format: int64 }
        available_minor: { type: integer, format: int64 }
        transfer_limit_minor: { type: integer, format: int64 }
        is_default: { type: boolean }
        status: { type: string }
    AmountRequest:
      type: object
      required: [amount_minor]
      properties:
        amount_minor: { type: integer, format: int64 }
        description: { type: string }
    MoneyMoveResponse:
      type: object
      properties:
        transfer_id: { type: string, format: uuid }
        requires_approval: { type: boolean }
    StatusRequest:
      type: object
      required: [status]
      properties:
        status: { type: string, enum: [active, frozen, closed] }
    StatusResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string }
    CreateTransferRequest:
      type: object
      required: [debit_account, credit_account, amount_minor]
      properties:
        debit_account: { type: string, format: uuid }
        credit_account: { type: string, format: uuid }
        amount_minor: { type: integer, format: int64 }
        description: { type: string }
        end_to_end_id:
          type: string
          maxLength: 35
          description: >-
            Optional originator-supplied reference (ISO 20022 pain.001 EndToEndId,
            <= 35 chars of the ISO restricted charset). Echoed on the Transfer;
            part of the idempotency fingerprint.
    TransferResult:
      type: object
      properties:
        transfer_id: { type: string, format: uuid }
        status: { type: string }
        status_iso: { type: string, description: "ISO-20022-aligned ExternalPaymentTransactionStatus (PDNG/ACSC/RJCT/CANC). Computed from status, never stored (Rec 20; see docs/12-rail-readiness.md)." }
        was_replay: { type: boolean }
    Transfer:
      type: object
      properties:
        id: { type: string, format: uuid }
        debit_account_id: { type: string, format: uuid }
        credit_account_id: { type: string, format: uuid }
        amount_minor: { type: integer, format: int64 }
        currency: { type: string }
        status: { type: string, description: "pending | held | under_review | posted | failed | canceled | reversed." }
        status_iso: { type: string, description: "ISO-20022-aligned ExternalPaymentTransactionStatus (PDNG/ACSC/RJCT/CANC). Computed from status, never stored (Rec 20; see docs/12-rail-readiness.md)." }
        kind: { type: string }
        reverses_id: { type: string, format: uuid }
        description: { type: string }
        uetr: { type: string, format: uuid, description: "Bank-minted UUIDv4 end-to-end trace reference (SWIFT UETR). Stable across idempotent replays." }
        end_to_end_id: { type: string, description: "Originator-supplied ISO 20022 EndToEndId, when given." }
        failure_reason: { type: string }
        hold_reason: { type: string, nullable: true, description: "Why a held/under_review transfer is parked (e.g. 'screening', a warning category); null otherwise." }
        hold_expires_at: { type: string, format: date-time, nullable: true, description: "When the hold/review window lapses and the transfer auto-cancels; null when not parked." }
        requested_at: { type: string, format: date-time }
        posted_at: { type: string, format: date-time }
    TransferIntentRequest:
      type: object
      required: [debit_account, credit_account, amount_minor]
      properties:
        debit_account: { type: string, format: uuid, description: "Account to debit; must be owned by the caller." }
        credit_account: { type: string, format: uuid, description: "Destination account." }
        amount_minor: { type: integer, format: int64, description: "Amount in minor units (never a float)." }
    TransferIntent:
      type: object
      description: >-
        The read-only decision preview for a would-be transfer. No money moves and no
        row is written. Deliberately carries NO numeric risk score.
      required: [decision, risk_band, reason_codes]
      properties:
        decision:
          type: string
          enum: [allow, step_up, warn, review, block]
          description: >-
            Collapsed outcome. allow = proceed; warn = show the warning, may proceed;
            step_up = re-verification linked to this exact payment is required;
            review = submitting parks the payment as `held` for customer confirmation;
            block = submitting is refused (422 payment_blocked).
        risk_band:
          type: string
          enum: [low, medium, high]
          description: Server-authoritative risk band.
        reason_codes:
          type: array
          items: { type: string }
          description: Machine tokens explaining the band (e.g. first_payment_to_payee). Always an array, never null.
        warning:
          nullable: true
          description: The customer-facing warning to show; present only when a warning rule matched, else null.
          allOf: [ { $ref: "#/components/schemas/TransferWarning" } ]
        step_up_method:
          type: string
          nullable: true
          description: Second-factor method to use when decision is step_up (e.g. 'otp'); null otherwise.
    TransferWarning:
      type: object
      description: The copy + acknowledgement policy for a matched warning rule.
      properties:
        warning_id: { type: string, format: uuid, description: "The matched warning rule's id." }
        category: { type: string, description: "Warning category (mirrors warning_acks.category); the value to record on POST /me/warning-acks." }
        severity: { type: string, enum: [info, warning, critical] }
        headline: { type: string }
        body: { type: string }
        required_ack: { type: boolean, description: "When true, an acknowledgement must be recorded before the payment can be submitted." }
        cooling_off_seconds: { type: integer, description: "Minimum seconds between acknowledging and submitting (0 = none)." }
    PendingTransfer:
      type: object
      properties:
        id: { type: string, format: uuid }
        debit_account_id: { type: string, format: uuid }
        credit_account_id: { type: string, format: uuid }
        amount_minor: { type: integer, format: int64 }
        currency: { type: string }
        kind: { type: string }
        description: { type: string }
        requested_at: { type: string, format: date-time }
    ReasonRequest:
      type: object
      properties:
        reason: { type: string }
    ReverseResponse:
      type: object
      properties:
        reversal_id: { type: string, format: uuid }
    Beneficiary:
      type: object
      properties:
        id: { type: string, format: uuid }
        label: { type: string }
        credit_account_id: { type: string, format: uuid }
        iban: { type: string }
        owner_name_masked: { type: string }
        created_at: { type: string, format: date-time }
    AddBeneficiaryRequest:
      type: object
      required: [label, iban]
      properties:
        label: { type: string }
        iban: { type: string }
    ResolvedAccount:
      type: object
      properties:
        account_id: { type: string, format: uuid }
        iban: { type: string }
        owner_name_masked: { type: string }
        match_result: { type: string, enum: [match, close_match, no_match, unable], description: "Server-side CoP/VOP verdict against the supplied name." }
        reason_code: { type: string, description: "Stable machine token (MATCH/CLOSE_MATCH/NO_MATCH/NAME_NOT_SUPPLIED)." }
        suggested_name: { type: string, description: "The registered name — present ONLY on close_match (the CoP-mandated disclosure)." }
        account_type: { type: string, enum: [personal, business] }
        gate: { type: string, enum: [ok, awaiting_acknowledgement, blocked], description: "Server-driven continue gate; clients must not compute their own." }
        checked_at: { type: string, format: date-time }
        recipient_risk: { type: string, enum: [low, medium, high], description: "Server-decided destination risk badge (Rec 11)." }
        mule_suspected: { type: boolean, description: "Destination is operator-flagged or on a live fraud dispute." }
        signals:
          type: array
          items: { type: string, enum: [mule_flagged, reported, recently_opened, new_payee, first_payment] }
        is_first_payment_to_payee: { type: boolean }
    LedgerEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        transfer_id: { type: string, format: uuid }
        account_id: { type: string, format: uuid }
        account_iban: { type: string }
        direction: { type: string }
        amount_minor: { type: integer, format: int64 }
        signed_amount: { type: integer, format: int64 }
        balance_after: { type: integer, format: int64 }
        currency: { type: string }
        posted_at: { type: string, format: date-time }
        transfer_kind: { type: string }
        transfer_status: { type: string }
        description: { type: string }
        counterparty_iban: { type: string }
        counterparty_owner: { type: string }
    ReconcileResponse:
      type: object
      properties:
        healthy: { type: boolean }
        issues:
          type: array
          items:
            type: object
            properties:
              check_name: { type: string }
              detail: { type: string }
    ExpireHoldsResponse:
      type: object
      properties:
        expired: { type: integer }
